<!doctype html>
<html lang="en">
<head>
    <title>Welcome to My Food Page</title>
    <include href="includes/header.htm"></include>
</head>
<body>
<div class="container">
    <h1>Order Summary</h1>
    <p>Thank you for ordering {{ @SESSION.food }} for {{ @SESSION.meal }}</p>
    <check if="{{ isset(@SESSION.conds) }}">
        <p>Condiments: {{ implode(@SESSION.conds, ", ") }}</p>
    </check>

    <a href="order">Place another order</a><br>
    <a href="{{ @BASE }}">Home page</a>
</div>
</body>
</html>